*
{
	font-family: sans-serif;
}
body
{
	background-color: #333;
	color: #ccc;
}
body#jsdoom-body
{
	background-color: #000;
	margin: 0;
}
iframe
{
	border: none;
}
canvas#jsdoom-canvas
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}